<form [formGroup]="Registration" (ngSubmit)="login()">
    <div class="alert alert-danger" *ngIf="Registration.errors">
        username or password incorrect
    </div> 
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <input 
            formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
               <div *ngIf="username.pending">checking for uniqueness</div>
                <!-- Registration.controls['username'].invalid && Registration.controls['username'].touched -->
                <div  class="alert alert-danger" *ngIf="username.touched &&
                username.invalid">
                  <div *ngIf="username.errors.required" >name is required</div>
                  <div *ngIf="username.errors.cannotContainSpace" >name cannot Contain Space</div>
                  <div *ngIf="username.errors.minlength" > username should be minimum {{username.errors.minlength.requiredLength}} letters</div>
                  <div *ngIf="username.errors.shouldBeUnique" > this user name is already taken</div>
                </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
            formControlName="password"
                id="password" 
                type="text" 
                class="form-control">
                <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                    <div class="alert alert-danger" *ngIf="password.errors.required">password is required</div>
                    <div class="alert alert-danger" *ngIf="password.errors.maxlength">maxlength is {{password.errors.maxlength.requiredLength}}</div>
    
                </div>
        </div>

    </div>
    <button class="btn btn-primary" type="submit">Sign Up</button>
</form>