<form class=" mt-3" [formGroup]="changepassword" (ngSubmit)="changePassword()">

    <!-- (div.form-group>label+iput[type="password"].form-control)*3 -->

    <div class="mb-3">
        <label for="" class="form-label">old password</label>
        <input type="text" class="form-control" formControlName="oldpassword">
        <div *ngIf="oldpassword.pending">checking for uniqueness</div>
        <div class="alert alert-danger" *ngIf="oldpassword.invalid && oldpassword.touched">
            <div *ngIf="oldpassword.errors.required">old password required</div>

            <div *ngIf="oldpassword.errors.invalidOldPassword">password didn't match
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">new password</label>
        <input type="password" class="form-control" formControlName="newpassword">
        <div class="alert alert-danger" *ngIf="newpassword.invalid && newpassword.touched">
            <div *ngIf="newpassword.errors.required">new password required</div>
        </div>
    </div>

    <div class="mb-3">
        <label for="" class="form-label">confirm password</label>
        <input type="password" class="form-control" formControlName="confirmnewpassword">
        <div class="alert alert-danger" *ngIf="confirmnewpassword.invalid && confirmnewpassword.touched">
            <div *ngIf="confirmnewpassword.errors.required">confirm new password required</div>
            <div *ngIf="confirmnewpassword.errors.noMatch">Password doesn't match</div>
        </div>

        <!-- <div class="alert alert-danger" *ngIf="changepassword?.invalid && changepassword?.errors?.noMatch">
            Password doesn't match
        </div> -->
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>