<form  class=" mt-3" [formGroup]="changepassword">
    <input type="text"  class="form-control mt-3" formControlName="oldpassword">
    <div class="alert alert-danger"
    *ngIf="oldpassword.invalid && oldpassword.touched">

    <div *ngIf="oldpassword.errors.required">old password required</div>

    </div>
    <input type="text" class="form-control mt-3"  formControlName="newpassword">
        <div class="alert alert-danger" *ngIf="newpassword.invalid && newpassword.touched">
        
            <div *ngIf="newpassword.errors.required">new password required</div>
        
        </div>
    <input type="text" class="form-control mt-3"  formControlName="confirmnewpassword">
        <div class="alert alert-danger" *ngIf="confirmnewpassword.invalid && confirmnewpassword.touched">
        
            <div *ngIf="confirmnewpassword.errors.required">confirm new password required</div>
        
        </div>
</form>