<h2>To Do</h2>

<form action="" class="mt-4">
    <input type="text" class="form-control mb-2" (keyup.enter)="addTopic(topic)" #topic>
    <ul class="list-group">
        <li @todoAnimation (@todoAnimation.start)="animationStart($event)" (@todoAnimation.done)="animationDone($event)"
            *ngFor="let topic of getControls()" (click)="removeTopic(topic)" class="list-group-item">
            {{topic.value}}
        </li>
    </ul>
</form>



<!--   <mat-menu #appMenu="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="submenu" > frontend </button>
                    <button mat-menu-item> ccc </button>
                </mat-menu>

                <button mat-raised-button color="accent" [matMenuTriggerFor]="appMenu">Menu</button> 

                <mat-menu #submenu="matMenu">
                    <button mat-menu-item> Angilar </button>
                    <button mat-menu-item> React </button>
                    <button mat-menu-item> vue </button>
                </mat-menu>


                <mat-menu #lazyMenu="matMenu">
                    <ng-template MatMenuContent let-name="name" >
                        <button mat-menu-item> setting </button>
                        <button mat-menu-item> logout {{name}}</button>
                    </ng-template>
                </mat-menu>

                <button mat-raised-button  [matMenuTriggerData]="{name:'jasmin'}" [matMenuTriggerFor]="lazyMenu">Jasmin</button> 

                <button mat-raised-button  [matMenuTriggerData]="{name:'Ali'}" [matMenuTriggerFor]="lazyMenu">Ahmed</button> 
 -->