<app-exercise1></app-exercise1>
<div class="container">
    
    <!-- <signup-form></signup-form> -->
    <!-- <app-new-course-form></app-new-course-form> -->
    <!-- <app-likes [likesCount]="post.likesCount" [isFavorite]="post.isFavorite" (jasmin)="onFavorityChanged($event)" >
        <div class="body">break and test</div>    
    </app-likes> -->
    <!-- <zippy title="Shipping details">
        Shipping details content
    </zippy> -->

</div>












<!-- <div class="panel panel-default">
    <div class="panel-heading">
        <ng-content select=".heading"></ng-content>
    </div>
    <div class="panel-body">
        <ng-content select=".body"></ng-content>
    </div>
</div> -->
