<div class="m-5">

    <i [ngClass]="isSelected ? 'fa-solid fa-heart' : 'fa-solid fa-heart-crack'"
        [style.color]="isSelected ? 'red' : 'gray'" [style.cursor]="isSelected ? 'pointer' : 'arrow'"
        (click)="onClick()"></i>

    <hr />
    <span class="fa-solid" [class.fa-heart]="!isSelected" [class.fa-heart-crack]="isSelected" [ngStyle]="{'color':isSelected ? 'red' : 'gray',
    'cursor':isSelected ? 'pointer' : 'arrow'}" (click)="onClick()">
    </span>

    <hr />
    <span class="fa-solid" [ngClass]="{'fa-heart':!isSelected,
    'fa-heart-crack':isSelected}" [class.highlight]="isSelected" (click)="onClick()">
    </span>


    <br>
    <ng-content select=".body"></ng-content>

    <!-- pipe to change upper and lower case of the input -->
    <p>pipe</p>
    <br>
    <input type="text" [(ngModel)]="title" id="" appRandomCOlor>
    {{title | titleCase}}
    <br>
    <!-- directive to change input to upper or lower case  -->
    <p>directive choose input color</p>
    <div>
        <input type="radio" name="color" (click)="color='lightgreen'" id="">lightgreen
        <input type="radio" name="color" (click)="color='cyan'" id="">cyan
        <input type="radio" name="color" (click)="color='red'" id="">color
    </div>
    <br>
    <p [appHighLight]="color">jasmin</p>
    <input type="text" [appInputformat]="'uppercccase'" [appHighLight]="color" defaultColor="'black'">




</div>

<div>
    <button class="btn btn-primary" #btn>Button</button>

    <p>withOutAsyn {{promiseData}}</p>
    <p>withAsynPipe {{promiseDataAsync |async }}</p>

    <p>subwithOutAsyn {{obsData}}</p>
    <p>subwithAsynPipe {{obsDataAsync |async |json}}</p>

</div>

<hr />
<div>
    <img [src]="imgURl | defaultImage :placeHolder:'true'" alt="">
</div>
<div>
    <p>total age is :{{data|sum:'age'}}</p>
    <p>total age is :{{data|sum:'speed'}}</p>
</div>

links
<a routerLink="" routerLinkActive="active-link"  [routerLinkActiveOptions]="{exact:true}"
[queryParams]="{auth:true}">like Compnent </a>
<a routerLink="cource" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
[queryParams]="{auth:true}">add Cource </a>
<a [routerLink]="['cource',10]" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"
[queryParams]="{auth:true}">Dynamic cources  </a>